tgcrypto
pyrogram~=1.4.1


git+https://github.com/github-noob-arjun/Sample@main             
git+https://github.com/github-noob-arjun/Sample-2@main
git+https://github.com/github-noob-arjun/sample-3@main
